#cards {
    opacity: 100% !important;
    transition: 0.4s;
}


/* #cards:hover {
    opacity: 75% !important;
} */

.heading {
  font-size: 3.5rem;
  font-weight: bold;
}

.newsEvents .cards img {
  width: 100%;
  transition: .5s ease;
}

.newsEvents .cards img:hover {
  /* background-color: #553354; */
  transform: scale(1.02);
  /* transform: scale(1.1); */
  /* transform: translateY(0); */
}

@media only screen and (max-width: 600px) {
    #main-banner img {
      /* color: lightblue !important; */
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }